
 <section id="about" class="about">
  <div class="container">

    <div class="row content">
      <div class="col-lg-6">
        <h2>Lo último de la moda</h2>
        <h3>"La vida es demasiado corta para llevar ropa aburrida"</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h4>Sobre lo nuevo de la temporada</h4>
        <p>
         La nueva temporada de Bimba & Lola para el Otoño-Invierno 2024 se inspira en un viaje a través del tiempo, combinando elementos clásicos con toques vanguardistas
        </p>
        
        <p class="fst-italic">
          Los bordados, las aplicaciones, los estampados y los patrones geométricos están de regreso.
        </p>
      </div>
    </div>

  </div>
</section>
 <section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">

        <article class="entry">

          <div class="entry-img">
            <img src="/assets/img/bimba1.jpg" alt="" class="img-fluid">
          </div>

          <h2 class="entry-title">
            Descubre la Elegancia y Originalidad de BIMBA Y LOLA
          </h2>

          <div class="entry-content">
            <p class="text-margin">
              En BIMBA Y LOLA, redefinimos la moda con un toque único y vanguardista. Nuestra marca se distingue por su creatividad audaz y diseños exclusivos que capturan la esencia de la modernidad. Cada pieza está elaborada con una atención meticulosa al detalle, fusionando calidad y estilo para ofrecerte prendas y accesorios que reflejan tu personalidad y sofisticación. Explora nuestra colección y transforma tu guardarropa con la elegancia inconfundible de BIMBA Y LOLA. ¡Visítanos y descubre un mundo donde la moda se convierte en arte!
            </p>
          </div>

        </article>
      </div>

      <div class="col-lg-4">

        <div class="sidebar"> 
          <h3 class="sidebar-title">Anuncios</h3>
          <div class="sidebar-item recent-posts">
            <div class="post-item clearfix">
              <h4 class="text-margin">Consulta las prendas disponibles de las temporadas pasadas</h4>
              <time datetime="2020-01-01">30/06/2024</time>
            </div>

            <div class="post-item clearfix">
              <h4 class="text-margin">Añade un cupón en tu compra y obtén un descuento exclusivo de lanzamiento</h4>
              <time datetime="2020-01-01">20/06/2024</time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
